<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forex calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>You are logged in as <b th:text="${login}">username</b></p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<div th:if="${lastQueryResult}">
    <h1>Last Query Result</h1>
    <p th:text="${lastQueryResult}">10.00 EUR = 12.01 USD</p>
</div>

<br/><br/><h1>Query conversion rate</h1>
<form action="#" th:action="@{/}" th:object="${currencyQuery}" method="post">
    <table>
        <tr>
            <td>Source currency:</td>
            <td>
                <select th:field="*{srcCurrency}">
                    <option th:each="currency : ${supportedCurrencies}"
                            th:value="${currency}" th:text="${currency}">EUR</option>
                </select>
            </td>

        </tr>
        <tr>
            <td>Amount:</td>
            <td><input type="text" th:field="*{amount}" /></td>
            <td th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Invalid Number</td>
        </tr>
        <tr>
            <td>Target currency:</td>
            <td>
                <select th:field="*{dstCurrency}">
                    <option th:each="currency : ${supportedCurrencies}"
                            th:value="${currency}" th:text="${currency}">EUR</option>
                </select>
            </td>

        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>

</body>
</html>